<?xml
  version="1.0"?>

<configuration>
  <appSettings>
    <add key="SvnRepository" value="svnrepo" />
    <add key="WorkingCopy" value="TempCopy" />
    <add key="TortoiseProc" value="TortoiseSVN\bin\TortoiseProc.exe" />
    <add key="DXVcsService" value="tcp://vcsservice.devexpress.dev:9090/DXVCSService" />
    <!-- <add key="DXVcsService" value="tcp://localhost:9090/DXVCSService" /> -->
    <add key="BlameType" value="External" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>