<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dxPortConfiguration" type="DXVcsTools.Core.DXPortConfiguration, DXVcsTools.Core" />
  </configSections>
  <dxPortConfiguration reviewTarget="false" checkInTarget="false" closeAfterMerge="false"
                       diffTool="C:\Program Files (x86)\WinMerge\WinMergeU.exe" uiType="Wpf" blameType="Mixture">
    <branches>
      <add name="13.1" path="$/2013.1/" />
      <add name="13.2" path="$/2013.2/" />
    </branches>
  </dxPortConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>